<div class="main">
    <section>
        <a href="#"><button class="create-button">Create New</button></a>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <p class="article-command"><a href="#"><button>Edit</button></a><a href="#"><button>Delete</button></a></p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <p class="article-command"><button><a href="#">Edit</a></button><button><a href="#">Delete</a></button></p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
        <article class="article-summary">
            <h1 class="article-title">Understanding Higher-Order Functions in JavaScript</h1>
            <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia culpa necessitatibus, quibusdam corporis assumenda. Quia cumque et minus quasi.</p>
            <p class="article-created-at">Oct 24, 2018</p>
            <p class="article-command"><button><a href="#">Edit</a></button><button><a href="#">Delete</a></button></p>
            <%= image_tag 'https://placekitten.com/1000/400', class: "article-image" %>
        </article>
    </section>
</div>