$header-height: 50px;
$background-color: white;
$body-inside-x : 20px;
$max-width: unquote("min(1050px, 100vw)");
$body-outside-x: calc((100vw - #{$max-width}) / 2 - #{$body-inside-x});
$gray-color: #8a8a8a;
$black-color: black;
$center-nav-height: 50px;
$grid-gap: 24px;
$aside-width: 328px;
$aside-items-margin: 32px;
$aside-items-half-margin: calc(#{$aside-items-margin} / 2);


